.vscode/**
.vscode-test/**
.yarn/**
.github/**
src/**
out/**
.gitignore
.gitattributes
.yarnrc
.yarnrc.yml
.npmrc
rollup.config.mjs
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.pnp*
*.vsix

# make sure scripts are always included
!scripts/**
scripts/*.ps1