.vscode/**
.vscode-test/**
.yarn/**
.github/**
src/**
out/**
.gitignore
.gitattributes
.yarnrc
.yarnrc.yml
.npmrc
rollup.config.mjs
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.pnp*
*.vsix
tmp.py

# make sure scripts and data are always included
!scripts/**
!data/**
scripts/*.ps1
scripts/fix_windows_reg.py
