.vscode/**
.vscode-test/**
.yarn/**
.github/**
src/**
out/**
.gitignore
.gitattributes
.yarnrc
.yarnrc.yml
.npmrc
*rollup.config.mjs
**/tsconfig.json
**/.eslintrc.json
**/eslint.config.mjs
**/*.ts
.pnp*
*.vsix
*.zip
*.tgz
*.tar.gz
*.tar
*.gz
*.rar
*.7z
*.exe
tmp.py

# make sure scripts and data are always included
!scripts/blink.pio
!scripts/lwipopts.h
!scripts/pico_configs.tsv
!scripts/pico_project.py
!scripts/pico-vscode.cmake
!scripts/Pico.code-profile
!scripts/raspberrypi-swd.cfg
!data/**
scripts/*.ps1
scripts/fix_windows_reg.py
scripts/vscodeUninstaller.mjs
scripts/genCache.py
scripts/genExamples.py
scripts/build.mjs
