name: Test extension

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node v22
        uses: actions/setup-node@v5
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install Dependencies
        run: |
          npm i -g @vscode/vsce ovsx
          npm ci
      - name: Test Extension (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run -a npm run test
      - name: Test Extension (Others)
        if: runner.os != 'Linux'
        run: npm run test
